@import '~bootstrap/scss/bootstrap';


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  .container {
    width: 80vw;
    height: 75vh;

    .filter-block {
      display: flex;
      margin-bottom: 10px;
    }
  }
}

