.table-component {
  height: 70vh;
  overflow-y: scroll;
  margin-bottom: 10px;
  border-top: 1px solid var(--bs-border-color);

  .table {

    &__head {
      &__row {
        position: sticky;
        top: 0;
        border-width: 0;
      }
    }
  }
}